body {
    width: 100%;
    height: 3000px;
    background-image: url("https://mblogthumb-phinf.pstatic.net/20160127_177/krazymouse_1453865104404DjQIi_PNG/%C4%AB%C4%AB%BF%C0%C7%C1%B7%BB%C1%EE_%B6%F3%C0%CC%BE%F0.png?type=w2");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    margin: 0;
}

.left_side {
    position: relative;
    width: 100px;
    height: 3000px;
    background: linear-gradient(orange, black);
    left: 20px;
}

.top_flex {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(194, 190, 178);
    z-index: 3;
}

.top_item {
    flex-basis: 150px;
    height: 50px;
    background-color: rgb(230, 225, 216);
    border-radius: 30px;
    text-align: center;
    color: rgb(121, 120, 119);
    line-height: 50px;
    font-weight: 700;
}

.top_item:hover {
    background-color: rgb(121, 120, 119);
    color: rgb(230, 225, 216);
}

.bottom_flex {      
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center; 
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: rgb(150, 145, 135);
    z-index: 3;
}

.bottom_item {
    width: 80px;
    height: 50px;
    background-color: rgb(230, 225, 216);
    border-radius: 30px;
    color: rgb(99, 97, 92);
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}

.bottom_item:hover {
    background-color: rgb(99, 97, 92);
    color: rgb(230, 225, 216);
}

.bottom_item.item1 {
    flex-grow: 1;
    flex-shrink: 2;
}
.bottom_item.item2 {
    flex-grow: 1;
    flex-shrink: 2;
}
.bottom_item.item3 {
    flex-grow: 1;
    flex-shrink: 2;
}
.bottom_item.item4 {
    flex-grow: 2;
    flex-shrink: 1;
}


